body {
     padding: 20px;
     background-color: #FDBD01;
     font-family: 'Poppins', sans-serif;
}
 .container {
     background-color: #FDBD01;
     border-radius: 10px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     padding: 20px;
     margin-top: 20px;
     margin-bottom: 20px;
}
 h1 {
     color: #000000;
}
 label {
     color: #000000;
}
 .centered-textarea {
     display: block;
     margin: 0 auto;
     width: 100%;
     min-height: 150px;
     padding: 10px;
     box-sizing: border-box;
     border: 1px solid #ced4da;
     border-radius: 5px;
     resize: none;
}
 .btn-primary {
     background-color: #5FFB17;
     border: 1px solid #5FFB17;
}
 .btn-primary:hover {
     background-color: #5FFB17;
     border: 1px solid #5FFB17;
}
 .success-message {
     color: green;
     margin-top: 10px;
}
 .footer {
     background-color: rgba(255, 255, 255, 0.7);
     padding: 10px;
     text-align: center;
     font-size: 16px;
     color: #555;
     margin-top: 50px;
     border-top: 1px solid #ccc;
     position: fixed;
     bottom: 0;
     left: 0;
     width: 100%;
}
 .footer p {
     margin: 0;
     display: inline-block;
     margin-right: 30px;
}
 .container-buttons {
     margin-top: 20px;
     text-align: center;
}
 .container-buttons .btn {
     margin: 5px;
}

 #result {
     padding: 10px;
     margin-top: 20px;
     border-radius: 5px;
}
 .center-placeholder::placeholder {
     text-align: center;
}

.form-check {
  display: flex;
  margin-top: 10px;
  padding: 14px;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease; 
  border-color: #ccc;
  background-color: #fff;
}

.form-check:hover {
  background-color: #f0f0f0; 
  border-color: #333; 
}

.form-check-input {
  margin-right: 10px; 
  opacity: 0;
}

.disable {
  display: none;
}

#inputOfPrefix, #inputOfAdmin {
  padding: 13px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease; 
  border-color: #ccc;
  background-color: #fff;
}
#listOfCommands, #listOfCommandsEvent, #prefixOfCommands, #adminOfCommands {
  border: none !important;
}

#listOfCommands:not(.modal), #listOfCommandsEvent:not(.modal), #prefixOfCommands:not(.modal), #adminOfCommands:not(.modal) {
  box-shadow: none !important;
}