body {
     padding: 20px;
     background-color: black;
     font-family: 'Poppins', sans-serif;
}
 .container {
     background-color: black;
     border-radius: 15px;
     color: white;
     padding: 20px;
     margin-top: 20px;
     margin-bottom: 20px;
     border: 2px solid green;
}
 h1 {
     color: white;
}
 label {
     color: red;
}
 .centered-textarea {
     display: block;
     margin: 0 auto;
     width: 100%;
     min-height: 130px;
     padding: 10px;
     color: white;
     font-family: Courier New;
     box-sizing: border-box;
     border: 1px solid green;
     border-radius: 5px;
     resize: none;
     outline: none;
     background-color: rgba(210,210,210,0.382);
}
 .btn-primary {
     background-color: #00873a;
     border: 1px solid #00873a;
     height: 40px;
     width: 100%;
     border-radius: 6px;
     margin-bottom: 10px;
}
 .btn-primary:hover {
     background-color: #005328f5;
     border: 1px solid #005328f5;
}
 .success-message {
     color: green;
     margin-top: 10px;
}
 .footer {
     background-color: rgba(255,255,255,0);
     padding: 10px;
     text-align: center;
     font-size: 16px;
     color: green;
     margin-top: 50px;
     position: fixed;
     bottom: 0;
     left: 0;
     width: 100%;
}
 .footer p {
     margin: 0;
     display: inline-block;
     margin-right: 30px;
}
 .container-buttons {
     margin-top: 20px;
     text-align: center;
}
 .container-buttons .btn {
     margin: 5px;
}

 #result {
     padding: 10px;
     margin-top: 20px;
     border-radius: 5px;
}
 .center-placeholder::placeholder {
     color: white;
}

.form-check {
  display: flex;
  margin-top: 10px;
  padding: 14px;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease; 
  border-color: #ccc;
  background-color: #fff;
}

.form-check:hover {
  background-color: #f0f0f0; 
  border-color: #333; 
}

.form-check-input {
  margin-right: 10px; 
  opacity: 0;
}

.disable {
  display: none;
}

#inputOfPrefix, #inputOfAdmin {
  padding: 10px;
  width: 200px;
  border: 1px solid green;
  border-radius: 8px;
  color: white;
  font-family: Courier New;
  outline: none;
  background-color: rgba(210,210,210,0.382);
}
#listOfCommands, #listOfCommandsEvent, #prefixOfCommands, #adminOfCommands {
  border: none !important;
}

#listOfCommands:not(.modal), #listOfCommandsEvent:not(.modal), #prefixOfCommands:not(.modal), #adminOfCommands:not(.modal) {
  box-shadow: none !important;
}
.version {
  color: red;
  font-family: Courier New;
  font-size: 10px;
  position: relative;
  position: absolute;
  top: 25px;
  right: 30px;
}
h2 {
  color: green;
  font-family: Courier New;
  text-align: center;
}
img {
  height: 30px;
  width: 30px;
  border-radius: 100%;
}
